.h4-vetement{
    text-align: center;
    font-size: small;
    color: gray;
    font-weight: 100;
}
.h1-vetement{
    text-align: center;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 50px;
    animation-name: h1-vete;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes h1-vete{
    
    40%{
        transform: translateY(-15%);
    }
    80%{
        transform: translateY(15%);
    }
}
.img-tout{
    width: 250px;
    height: 300px;
    border-radius: 50px;
}
.div-tout-img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly; 
    gap: 40px; 
    animation-name: tout-img;
    animation-duration: 2s;
    
}
@keyframes tout-img{
    0%{
        transform: translateX(60%);
    }
    100%{
        transform: translateX(0%);
    }
}
.img-tout:hover{
    box-shadow: 5px 5px 10px 15px grey;
    width: 255px;
    height: 305px;
    transform: scale(1.1);
    opacity: .8;
}